{% extends 'tasks/base.html' %}
{% block title %}Sorted Tasks{% endblock %}
{% block content %}
<h2>Sorted Tasks</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
